<input type="text" [(ngModel)]="title" placeholder="Title">
<textarea [(ngModel)]="content" placeholder="Content"></textarea>
<button type="submit" name="button" (click)="doAddPost()">save</button>

<ul *ngFor="let post of myPosts | async">
  <li (click)="getSinglePost(post.id)">
    <strong>{{post.title}} </strong><button (click)="fss.deletePost(post.id)">delete</button>
    <br>
    {{post.content}}
	<br>
	posted by: {{post.authorName}}
  </li>
</ul>

<div class="single-post">
	<h3>This is the post you clicked</h3>
	<p><strong>{{(singlePost | async)?.title}}</strong>
    <br>
    {{(singlePost | async)?.content}}</p>
</div>
